@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.navheader {
  background: black;
  padding: 5px 40px;
}

/*
.h3{
  font-size:10vw;
  text-align: left;

} */

nav {
  background: black;
  padding: 5px 40px;
}
nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
nav ul li {
  padding: 15px 0;
  cursor: pointer;
}
nav ul li.items {
  position: relative;
  width: auto;
  margin: 0 25px;
  text-align: center;
  order: 3;
}
nav ul li.items:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 5px;
  height: 2px;
  width: 100%;
  background: #e0ece4;
  opacity: 0;
  transition: all 0.2s linear;
}
nav ul li.items:hover:after {
  opacity: 1;
  bottom: 8px;
}
nav ul li.logo {
  flex: 1;
  color: white;
  font-size: 23px;
  font-weight: 600;
  cursor: default;
  user-select: none;
  margin-right: 5px;
}
nav ul li a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  transition: 0.4s;
}
nav ul li:hover a {
  color: #9ad3bc;
}
nav ul li i {
  font-size: 23px;
}
nav ul li.btn {
  display: none;
}
nav ul li.btn.hide i:before {
  content: "\f00d";
}
@media all and (max-width: 900px) {
  nav {
    padding: 5px 30px;
  }
  nav ul li.items {
    width: 100%;
    display: none;
  }
  nav ul li.items.show {
    display: block;
  }
  nav ul li.btn {
    display: block;
  }
  nav ul li.items:hover {
    border-radius: 5px;
    box-shadow: inset 0 0 5px #33ffff, inset 0 0 10px #66ffff;
  }
  nav ul li.items:hover:after {
    opacity: 0;
  }
}

/* MAIN CONTENT */
.maincontainer {
  display: flex;
  height: 100vh;
  flex-wrap: wrap;
  flex-direction: row;
}
/* left nav */
.leftcontainer {
  width: 15%;
  height: auto;
  background: black;
}

.leftcontheading {
  padding: 0rem;
  margin-top: 1.5rem;
  color: white;
  padding: 5px 20px;
  text-align: center;
}
.aside {
  color: black;
  padding-left: 1rem;
  background: #f7d9d9;
  display: flex;
  flex-direction: column;
}

aside a {
  font-size: 1rem;
  color: white;
  padding: 20px;
  padding-left: 30px;
  text-decoration: none;
  font-weight: 600;
  line-height: 1.5;
  display: block;
}

aside a:hover {
  font-size: 120%;
  color: #9ad3bc;
}

/* Right Container */
.rightcontainer {
  width: 85%;
  height: auto;
  background: #fafafa;
}

/* Intro Part */
.rightcontainer .maincontent {
  flex-direction: column;
  display: flex;
}

.maincontent .intro {
  box-shadow: 2px 5px #f5f5f5;
  margin: 3.5rem;
  padding: 1.5rem;
  border: 0.5px groove black;
  position: relative;
  overflow: hidden;
}

.csslink {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  padding: 2rem;
  text-align: start;
  margin-top: 1.5rem;
  padding: 30px;
  background-color: #e0e0ec;
  color: black;
  border-radius: 30px;
}

.para {
  margin-top: 10px;
}

/* Css Components */
.csshtml {
  width: 80%;
  padding: 5px;
  margin-top: 10px;
  text-align: center;
  position: relative;
  top: 25px;
  right: -15px;
}

.respiframe {
  width: 100%;
  height: 350px;
  margin-bottom: 20px;
}
